NewsComponentGenerator/Web References/localhost/NewsComponentGenerator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateClassTerm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_NewsContent" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_bAdvSearch" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="_newsdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_newsid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_COUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateClassTermResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateClassTermResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeedbackClassTerm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_newsdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_newsid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOriginalTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFeedbackTerm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeedbackClassTermResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateClassTermSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateClassTerm" />
  </wsdl:message>
  <wsdl:message name="GenerateClassTermSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateClassTermResponse" />
  </wsdl:message>
  <wsdl:message name="FeedbackClassTermSoapIn">
    <wsdl:part name="parameters" element="tns:FeedbackClassTerm" />
  </wsdl:message>
  <wsdl:message name="FeedbackClassTermSoapOut">
    <wsdl:part name="parameters" element="tns:FeedbackClassTermResponse" />
  </wsdl:message>
  <wsdl:portType name="NewsComponentGeneratorSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateClassTerm">
      <wsdl:input message="tns:GenerateClassTermSoapIn" />
      <wsdl:output message="tns:GenerateClassTermSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeedbackClassTerm">
      <wsdl:input message="tns:FeedbackClassTermSoapIn" />
      <wsdl:output message="tns:FeedbackClassTermSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewsComponentGeneratorSoap" type="tns:NewsComponentGeneratorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateClassTerm">
      <soap:operation soapAction="http://tempuri.org/GenerateClassTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedbackClassTerm">
      <soap:operation soapAction="http://tempuri.org/FeedbackClassTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewsComponentGeneratorSoap12" type="tns:NewsComponentGeneratorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateClassTerm">
      <soap12:operation soapAction="http://tempuri.org/GenerateClassTerm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedbackClassTerm">
      <soap12:operation soapAction="http://tempuri.org/FeedbackClassTerm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsComponentGenerator">
    <wsdl:port name="NewsComponentGeneratorSoap" binding="tns:NewsComponentGeneratorSoap">
      <soap:address location="http://localhost/NewsComponentGeneratorService/NewsComponentGenerator.asmx" />
    </wsdl:port>
    <wsdl:port name="NewsComponentGeneratorSoap12" binding="tns:NewsComponentGeneratorSoap12">
      <soap12:address location="http://localhost/NewsComponentGeneratorService/NewsComponentGenerator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>